/* pagina de estilo com css */

.menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 5px;
}

.links {
    font-size: 20px;
    text-decoration: none;
    color: rgb(107, 31, 54);
}
.links:hover{
    text-decoration: underline;
    color: rgb(165, 76, 98);
}
body{
    background-image: linear-gradient( 179.7deg,  rgba(252,123,123,1) -0.9%, rgba(255,187,147,1) 15.6%, rgba(252,169,245,1) 32.6%, rgba(251,253,134,1) 51.2%, rgba(150,254,179,1) 68.9%, rgba(157,164,253,1) 84.2%, rgba(202,130,253,0.98) 101.4% );

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 30px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
    width: 100%;
}
.campo label {
    font-size: 1.275rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #6d44a3;
}

.campo input, .campo textarea {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 0;
    border-bottom: 1px solid #945eda;
    background: transparent;
}

button {
    width: 50%;
    padding: .5rem;
    font-size: 1.250rem;
    border-radius: 1rem;
    border: 2px solid #945eda;
    background: transparent;
    transition: 0.5s;
    color: #492c6e;
}

button:hover {
    background: #945eda;
}
.center {
    text-align: center;
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.arrumar{
    padding: 30px;
}

.arrumar2{
    border-radius: 50%;
}

.altlarg{
    width: 350px;
    height: 300px;
}

.social{
    width: 50px;
    height: 50px;
}
.espaco{
    margin-bottom: 50px;
}
.texto{
    text-align: justify;
    font-size: large;
    color:#47131e;
}
.margem50{
    margin-left: 50px;
}
.cor{
    color: #96122e;
}