.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.links {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(5, 4, 4);
}
.links:hover{
    text-decoration: underline;
    color: rgb(64, 139, 139);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: ;
}

.campo {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
    width: 100%;
}
.campo label {
    font-size: 1.275rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.campo input, .campo textarea {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 0;
    border-bottom: 1px solid #945eda;
}

button {
    width: 50%;
    padding: .5rem;
    font-size: 1.250rem;
    border-radius: 1rem;
    border: 2px solid #945eda;
    background: transparent;
    transition: 0.5s;
}

button:hover {
    background: #945eda;
}